.sbody {
  font-family: $font-body;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
}

.slot-machine {
  text-align: center;
  background-color: $secondary-color;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
  padding: 2vw;
  width: 67vw;
  height: 40vw;
  color: $text-color;
}

.slot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.symbol {
  width: 15vw;
  height: 15vw;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button {
  padding: 2vw 6vw;
  font-size: 3vw;
  background-color: #0a3d00;
  color: $text-color;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: $font-header;
}

button:hover {
  background-color: darken($accent-color, 10%);
}

.mimg{
  padding-left: 100;
}

#result {
  margin-top: 20px;
  font-size: 3vw;
  font-weight: bold;
  color: $text-color;
}
