
$primary-color: rgba(124, 0, 0, 0.788);
$secondary-color: rgb(24, 24, 24);
$accent-color: rgba(180, 151, 21, 0.897);
$text-color: #ffffff;
$roullete-color: rgba(0, 100, 0, 0.904) ;
$button-bg-color: green ;

$font-header: 'Playfair Display', serif;
$font-body: 'Sans-serif',Inter;