// Kolory
$primary-color: rgba(124, 0, 0, 0.788);
$secondary-color: rgba(0, 0, 0, 0.897);
$accent-color: rgb(158, 129, 0);
$text-color: #ffffff;

// Fonty
$font-header: 'Playfair Display', serif;
$font-body: Arial;
